<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AffirmIt!</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="images/icon.ico" /> 
<script type="text/javascript" src="css/iepngfix_tilebg.js"></script> 
<script type="text/javascript" src="css/iepngfix.js"></script> 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22226927-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="mainWrap">
<div id="mainPanel">
 <div id="menufloat">
 <div id="menu">
  <ul>
   <li><a href="/"><span>Home</span></a></li>
   <li><div class="blank"></div></li>
   <li><a href="about.html"><span>About&nbsp;Us</span></a></li>
   <li><div class="blank"></div></li>
   <li><a href="https://github.com/affirmit/affirmit"><span>Development</span></a></li>
   <li><div class="blank"></div></li>
   <li><a href="#"><span>Contact&nbsp;Us</span></a></li>
  </ul>
 </div>
 </div>
  <div id="logoWrap"><h1>solitude</h1></div>

  <div id="responseform">
<div class="ss-form-heading"><h2 class="ss-form-title">Contact AffirmIt!</h2>
<p></p>
<div class="ss-form-desc ss-no-ignore-whitespace">We&#39;re glad that you&#39;ve taken the time to embrace AffirmIt! We love those big HUGS!

Please feel free to share your platitudes and affirmations of our amazing, transformational, inspirational framework here. Remember: only good, positive, AFFIRMING comments here. All other comments will be recycled and turned into positive feedback!

We love you!
   -- The Affirmit! Team</div>

<p></p>

<hr class="ss-email-break" style="display:none;">
<div class="ss-required-asterisk">* Required</div></div>
<div class="ss-form">

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='contactthankyou.html';}"></iframe>
<form action="https://spreadsheets.google.com/a/affirmit.org/formResponse?hl=en&amp;formkey=dHA2b0VHb285dVBWeGxKZ1BqSThlRFE6MA&amp;theme=0AX42CRMsmRFbUy03NTAzM2Q4M    y03ODU1LTQ2NzItODI2YS1kZmU5YzdiMzZjOGQ&amp;ifq" method="post" target="hidden_iframe" onsubmit="submitted=true;">
<br>
<div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">What is your name?
</label>
<label class="ss-q-help" for="entry_0"></label>
<input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_4">What is your favorite colour?
</label>

<label class="ss-q-help" for="entry_4"></label>
<input type="text" name="entry.4.single" value="" class="ss-q-short" id="entry_4"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">What is the air-speed velocity of an unladen swallow?
</label>
<label class="ss-q-help" for="entry_2"></label>
<input type="text" name="entry.2.single" value="" class="ss-q-short" id="entry_2"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_8">On a scale of 1-5, how many group hugs would you give AffirmIt!?
<span class="ss-required-asterisk">*</span></label>
<label class="ss-q-help" for="entry_8"></label>
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.8.group" value="3" class="ss-q-radio" id="group_8_1">
3</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.8.group" value="4" class="ss-q-radio" id="group_8_2">

4</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.8.group" value="5" class="ss-q-radio" id="group_8_3">
5</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_6">Any other positive vibes you&#39;d like to give us?
</label>
<label class="ss-q-help" for="entry_6"></label>
<textarea name="entry.6.single" rows="8" cols="75" class="ss-q-long" id="entry_6"></textarea></div></div></div>
<br>
<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">


<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit"></div></div></form>
</div>

 <div id="footPanel">
  <div class="nav">
   <ul>
    <li><a href="/">Home</a></li>
    <li><div class="blank">|</div></li>
    <li><a href="aboutus">About Us</a></li>
    <li><div class="blank">|</div></li>
    <li><a href="https://github.com/affirmit/affirmit">Development</a></li>
    <li><div class="blank">|</div></li>
    <li><a href="#">Contact Us</a></li>
   </ul>
  </div>
  <div class="copyright">©2011 AffirmIt! All Rights Reserved.</div>
  <div class="validation">
    <ul>
     <li><a href="http://validator.w3.org/check?uri=referer">xhtml</a></li>
     <li><div class="blank"></div></li>
     <li><a href="http://jigsaw.w3.org/css-validator/check/referer">css</a></li>
    </ul>  
  </div>
 </div>
</div>
</div>
</body>
</html>
